.div {
				border: 3px solid rgb(179, 176, 230);
				border-radius: 0px 20px;
				border-left-width: 0px;
				border-top-width: 0px;
				padding: 15px;
				margin: auto;
				position: relative;
				width: 40%;
				margin-bottom:20px;
				margin-top:20px;
				line-height: 15px;
				font-size: 14px;
				background: -webkit-linear-gradient(bottom, #4e63ca, #f3f3f3 500px);
				font-family: Tahoma, Geneva, sans-serif;
			}
			.input {
				border: 2px solid #5468cc;
				border-radius: 0px 5px;
				width: 74%;
				height: 30px;
				padding: 10px;
				background: rgb(251, 251, 251);
				display:inline;
				float:left;
			}
			.submit{
					border: 2px solid #5468cc;
					border-radius: 0px 5px;
					height: 30px;
					background: rgb(251, 251, 251);
					font-weight: bold;
					width:150px;
						}
			textarea {
					width: 100%;
					height: 100px;
					padding: 10px 20px;
					box-sizing: border-box;
					border: 2px solid #5468cc;
					border-radius: 0px 5px;
					background-color: #f8f8f8;
					resize: none;
					
					
			}
			form_close{
				display:inline;
				
			}
			
			#hr{
				width:40%;
			}
			.text{
				margin-left:10px;
			}
			
			.time{
				float:right;
				
			}
			#top_div{
				margin-bottom:20px;
			}
			#logout{
				float:right;
				width:100px;
			}
			form{
				display:inline;
			}
			#delete{
				height: 25px;
				width:100px;
				float:right;
			}
			#comment{
				width: 25%;
				margin-left:1%;
			}
			.comments{
				border: 2px solid #b3b0e6;
				border-radius: 0px 5px;
				padding:1px;
				margin:10px;
			}
			.text_comment{
				margin-left:10px;
				margin-top:3px;
				margin-bottom:3px;
			}
			
			input[type="file"] {
				display: none;
			}
			.custom-file-upload {
				display: inline-block;
				padding: 6px 6px;
				cursor: pointer;
				border: 2px solid #5468cc;
				border-radius: 0px 5px;
				height: 14px;
				background: rgb(251, 251, 251);
				font-weight: bold;
				width:120px;
				margin-top:1px;
				font-size: 12px;
			}
			input{
				cursor: pointer;
			}